{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Typing Trainer</title>
  <link rel="stylesheet" href="{% static 'main/css/text.css' %}">
</head>
<body>
  <div id="textContainer"></div>
  <input type="text" id="inputField" autofocus />
  <div class="container">
    <button id="restartBtn">Restart</button>
    <button id="newTextBtn">New Text</button>
  </div>
  <script src="{% static 'main/js/typer.js' %}"></script>
</body>
</html>
