{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="csrf-token" content="{{ csrf_token }}">
  <meta name="test-id" content="{{ test_id }}">
  <title>Typing Trainer</title>
  <link rel="icon" type="image/png" href="{% static 'typer/favicon.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main/css/typer.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/result.css' %}">
</head>
<body>
  <div class="header">
    <div id="wpmDisplay">WPM: 0</div>
    
    <div id="programmingLanguage">
      <div id="selected">Python</div>
      <div id="options">
        <div class="option" data-value="python">Python</div>
        <div class="option" data-value="js">JavaScript</div>
        <div class="option" data-value="html">HTML</div>
        <div class="option" data-value="cpp">C++</div>
        <div class="option" data-value="sql">SQL</div>
        <div class="option" data-value="random">Random</div>
      </div>
    </div>
  </div>

  <div id="textContainer"></div>
  <div id="hintsBox"></div>
  <input type="text" id="inputField" autofocus />
  
  <div class="button-group">
    <button id="restartBtn" class="btn btn-primary">Restart</button>
    <button id="newTextBtn" class="btn">New Text</button>
  </div>

  <script src="{% static 'main/js/html_tags.js' %}"></script>
  <script src="{% static 'main/js/wpm.js' %}"></script>
  <script src="{% static 'main/js/pl.js' %}"></script>
  <script src="{% static 'main/js/hints.js' %}"></script>
  <script src="{% static 'main/js/typer.js' %}"></script>
</body>
</html>